# unconventional js
/blueprints/*/files/

# compiled output
/declarations/
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# https://www.ember-cli-mirage.com/versions/v3.0.0/docs/getting-started/installation#note-for-prettier-users
# There's an Ember CLI bug that exposes itself when using Prettier + Mirage. A longer-term fix is in the works, but for now, if you're using Prettier and install Mirage, you can either
# pin eslint-plugin-prettier to 2.6.0, or
# add the following to .eslintignore:
/mirage/mirage
