<div class="weather">
  <h2>Weather</h2>
  <button type="button" {{on "click" this.getCurrentForecast}}>Get current forecast</button>
  {{#if this.timeOfForecast}}
    <div>{{this.timeOfForecast}}</div>
  {{/if}}
  {{#if this.currentForecast}}
    <p>{{this.currentForecast}}</p>
  {{/if}}
</div>